<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> video</h1>
    <table>
        <tr>
            <td width="50%">
                여기에 비디오 영상
                <img src="http://127.0.0.1:8000/video/camera/" style='width:200px;'>
            </td>
            <td width="50%">
                나의 비디오
            </td>
        </tr>
    </table>
</body>
</html>